@model CrudProductos.Models.Categoria

@{
    ViewData["Title"] = "Detalle categoria";
}

<h1>Detalle categoria</h1>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Nombre)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Nombre)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Descripcion)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Descripcion)</dd>

        <dt class="col-sm-2">Descuento</dt>
        <dd class="col-sm-10">@Model.DescuentoPorcentaje.ToString("0.##")%</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Activa)</dt>
        <dd class="col-sm-10">@(Model.Activa ? "Si" : "No")</dd>

        <dt class="col-sm-2">Productos asociados</dt>
        <dd class="col-sm-10">@Model.Productos.Count</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FechaCreacion)</dt>
        <dd class="col-sm-10">@Model.FechaCreacion.ToLocalTime().ToString("yyyy-MM-dd HH:mm")</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
